/* Mobile & Tablet */
@media (max-width: 1023px) {
    :root {
        --header-height: 68px;
        --header-navbar: 0px;
    }
    .hide-on-mobile-tablet {
        display: none;
    }
    .header {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
    }
    .main__container {
        margin-top: calc(var(--header-height) + var(--header-sort-bar-height));
    }
    .header__cart-list {
        position: fixed;
        top: var(--header-height);
        right: 0;
        width: 100%;
        padding: 0 calc((100% - 644px)/2);
    }
    .header__cart-list::before {
        display: none!important;
    }
    .header__cart-list-item {
        max-height: 30vh;
    }
    .header__sort-bar {
        display: flex;
    }
    .footer {
        padding-top: 0;
    }
    .footer-heading {
        margin-top: 30px;
    }

}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .hide-on-tablet {
        display: none;
    }
    .header__cart {
        width: 88px;
        text-align: right;
    }
}

/* Mobile */
@media (max-width: 739px) {
    :root {
        --header-height: 54px;
        --header-navbar: 0px;
    }
    .hide-on-mobile {
        display: none;
    }
    .main__container {
        padding: 0 10px;
    }
    .header-with-search {
        justify-content: space-between;
    }
    .header__cart,
    .header__logo {
        width: unset;
    }
    .header__search {
        display: none;
        position: fixed;
        top: var(--header-height);
        right: 0;
        z-index: 1;
        left: 0;
        box-shadow: 0 1px 2px rgb(0 0 0 / 20%);
        height: 46px;
        padding: 0 16px;
        animation: mobileSearchSideIn linear 1s;
    }

    @keyframes mobileSearchSideIn {
        from {
            opacity: 0;
            top: calc(var(--header-height)/2);
        }
        to {
            opacity: 1;
            top: var(--header-height);
        }
    }
    .header__mobile-search {
        display: block;
    }

    .header__search-history {
        position: fixed;
        left: 0;
        width: 100%;
        box-shadow: 0 1px 2px rgb(0 0 0 / 20%);
        top: calc(var(--header-height)+var(--header-sort-bar-height));
    }
    .pagination-item__link {
        height: 28px;
        min-width: 20px;
        font-size: 1.4rem;
    }
    .header__cart-notice {
        right: -1px;
        top: 0;
        border: 1px solid var(--primary-color);
        border-radius: 10px;
        line-height: 1.2rem;
        font-size: 1.2rem;
        padding: 1px 6px;
        position: absolute;
        color: var(--primary-color);
        background-color: var(--white-color);
    }
    .mobile-category{
        display: block;
    }
    .header__logo-img{
        width: 100px;
    }
    .footer-wrap {
        padding: 0 16px;
    }
    .footer-heading,
    .footer-link {
        text-align: center;
    }
    .footer-download {
        justify-content: center;
    }
    .footer-download__item-img {
        height: 20px;
        margin: 8px 0;
    }
}